[submodule "Assignment/Assignment2/git-assignment-142502002"]
	path = Assignment/Assignment2/git-assignment-142502002
	url = https://github.com/abhirana2109/git-assignment-142502002.git

[submodule "Assignment/Assignment4/assignment4"]
	path = Assignment/Assignment4/assignment4
	url = https://github.com/abhirana2109/assignment4.git
